<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpaca Quiz of Dreams</title>
  </head>
  <body>
    <h1>Welcome to the Alpaca Quiz</h1>
    <form action='/questions' method="post">
      <button type="submit" name="submit" value="Enter">Enter</button>
      </form>
  </body>
</html>
