<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpaca Quiz of Dreams</title>
  </head>
  <body>
    <h1>Multiple Choice Alpaca Quiz</h1>
    <h2>Welcome <%= @player_name %>!</h2>
    <h3>Question:</h3>
    <p><%= @rand_question %></p>
  </body>
</html>
